<div class="container main-content" ng-controller="TransactionsCtrl">
    <br><br><br><br>
    <tabset type="pills">
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disable"
             ng-hide="tab.hidden">
            <div ng-if="(tab.id == 'sentTransactions')">
                <ng-include src="'app/transactions/partials/sent_transactions.html'"></ng-include>
            </div>
            <div ng-if="(tab.id == 'requestedTransactions')">
                <ng-include src="'app/transactions/partials/requested_transactions.html'"></ng-include>
            </div>
            <div ng-if="(tab.id == 'receivedTransactions')">
                <ng-include src="'app/transactions/partials/received_transactions.html'"></ng-include>
            </div>
        </tab>
    </tabset>

</div>
